name: ci

on:
  pull_request:
    branches: [main]

jobs:
  # First Job: Runs unit tests
  tests:
    name: Tests
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.25.1"

      - name: Go Test
        run: go test ./...

  # Second Job: Runs in parallel to check formatting
  style:
    name: Style
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.25.1"

      - name: Go Format Test
        # The double quotes around $(...) are the secret sauce 
        # that prevents "too many arguments" errors.
        run: test -z "$(go fmt ./...)"
